@media (max-width: 768px) {
  .popup__text-password-signin {
    width: 66px;
    height: 14px;
    margin-top: 13px;
    margin-left: 16px;
    margin-bottom: 0;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;

    color: #2f71e5;
  }
}

@media (min-width: 768px) {
  .popup__text-password-signin {
    width: 139px;
    height: 14px;
    margin-left: 36px;
    margin-top: 13px;
    margin-bottom: 0;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;

    color: #2f71e5;
  }
}