@media screen and (max-width: 1439px) and (min-width: 1280px) {
    .about {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }

    .about__image {
        margin: 60px 60px 60px 0;
    }

    .about__paragraph {
        width: 550px;
    }
}