@media (max-width: 768px) {
  .popup__button {
    width: 288px;
    height: 64px;
    margin-top: 23px;
    margin-left: 16px;
    margin-right: 16px;

    background: #e6e8eb;
    border-radius: 100px;
    border: none;
    cursor: pointer;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;

    color: #b6bcbf;
    }
  }

@media (min-width: 768px) {
  .popup__button {
    width: 358px;
    height: 64px;
    margin-top: 39px;
    margin-left: 36px;
    margin-right: 36px;

    background: #e6e8eb;
    border-radius: 100px;
    border: none;
    cursor: pointer;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;

    color: #B6BCBF;
  }
}