@import url(../__button/popup__button_active.css);
@import url(../__button/_registration/button_registration.css);
@import url(../__button/_signup/button_signup.css);

.popup__button {
  background: #E6E8EB;
  border-radius: 100px;
  width: 100%;
  height: 50px;
  margin-top: 16px;
  margin-bottom: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  color: #B6BCBF;
  border: 0;
}
