@media screen and (max-width: 767px) and (min-width: 540px) {

    .footer {
        position: relative;
        width: 100%;
        flex-direction: column-reverse;
    }

    .footer__column {
        display: flex;
        margin: 21px 104px 0px 16px;
        flex-direction: column;
        text-align: start;
    }

    .footer__column-icone {
        position: absolute;
        width: 20px;
        height: 20px;
    }

    .footer__column-icone_github {
        top: 22px;
        right: 66px;
    }

    .footer__column-icone_facebook {
        top: 22px;
        right: 18px
    }

    .footer__info {
        width: 288px;
        margin: 20px 0 20px 30px;
    }

    .footer__column-text_header {
        margin-bottom: 30px;
    }

    .about__paragraph {
        font-size: 15px;
        line-height: 17px;
    }
}