.results__list {
  display: grid;
  grid-template-columns: repeat(auto-fill,400px);
  grid-gap: 16px 16px;
  justify-content: center;
  width: calc(100% - 208px);
  margin: auto;
}

@media (max-width: 1439px) {
  .results__list {
    grid-template-columns: repeat(auto-fill,380px);
    grid-gap: 14px 14px;
    width: calc(100% - 140px);
  }
}

@media (max-width: 1309px) {
  .results__list {
    grid-template-columns: repeat(auto-fill,320px);
    grid-gap: 14px 14px;
    width: calc(100% - 140px);
  }
}

@media (max-width: 1128px) {
  .results__list {
    grid-template-columns: repeat(auto-fill,300px);
    grid-gap: 14px 14px;
    width: calc(100% - 140px);
  }
}

@media (max-width: 1068px) {
  .results__list {
    grid-template-columns: repeat(auto-fill,280px);
    grid-gap: 12px 12px;
    width: calc(100% - 120px);
  }
}

@media (max-width: 980px) {
  .results__list {
    grid-template-columns: repeat(auto-fill,224px);
    grid-gap: 8px 8px;
    width: calc(100% - 80px);
  }
}

@media (max-width: 767px) {
  .results__list {
    grid-template-columns: repeat(auto-fill,280px);
    grid-gap: 10px 10px;
    width: calc(100% - 32px);
  }
}

