@media screen and (max-width: 767px) and (min-width: 541px) {
    .about {
        display: flex;
        padding: 0 20px;
        justify-content: center;
    }

    .about__image {
        width: 30.2%;
        margin: 61px 32px 60px 0;
    }

    .about__text {
        width: 400px;
        margin: 0;
    }

    .about__author {
        margin-top: 20px;
        font-size: 30px;
        line-height: 40px;
        width: 100%;
        font-size: 30px;
        line-height: 40px;
    }

    .about__title-one {
        margin-top: 16px;
        font-size: 18px;
        line-height: 24px;
    }

    .about__title-one {
        font-size: 15px;
        line-height: 17px;
    }
}