@media (max-width: 767px) {
  .header__auth-name-black {
    font-family: Roboto, arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .header__auth-name-black {
    font-family: Roboto, arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: 1024px) {
  .header__auth-name-black {
    font-family: Roboto, arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
  }
}