.page {
  min-width: 320px;
  max-width: 1440px;
  margin: 0px auto;
  padding: 0px;
  width: 100%;
}

@media (max-width: 1024px) {
  .page {
    width: 100%;
    margin: 0px;
    padding: 0px;
  }
}

@media (max-width: 768px) {
  .page {
    width: 100%;
    margin: 0px;
    padding: 0px;
  }
}

@media (max-width: 320px) {
  .page {
   width: 100%;
    padding: 0px;
  }
}