.page {
  width: 100%;
  min-width: 320px;
  max-width: 1440px;
  margin: 0px auto;
  padding: 0px;

}

@media (max-width: 1024px) {
  .page {
    max-width: 1024px;
    margin: 0px;
    padding: 0px;
  }
}

@media (max-width: 768px) {
  .page {
    max-width: 768px;
    margin: 0px;
    padding: 0px;
  }
}

@media (max-width: 320px) {
  .page {
    max-width: 320px;
    padding: 0px;
  }
}