@media screen and (max-width: 1279px) and (min-width: 1024px) {
    .group__result {
        width: 400px;
        margin-bottom: 40px;
    }

    .massageAnswer {
        margin: 24px 40% 150px 24px;
        
    }

    .buttomDelete {
        margin: 24px 24px 150px 0;
    }

    .card_margin {
        height: 510px;
    }

}