@media screen and (max-width: 767px) {
  .header__nav-switcher-label_close {
    display: block;
    position: absolute;

    width: 24px;
    height: 24px;

    top: 16px;
    right: 16px;

    background: url("../../../../images/close-menu.svg");
  }
}
