.about__img-container {
  min-width: 464px;
  height: 464px;

  margin: 80px 56px 80px 0;

  overflow: hidden;
}

@media screen and (max-width: 900px) {
  .about__img-container {
    min-width: 232px;
    height: 232px;

    margin: 61px 32px 61px 0;
  }
}

@media screen and (max-width: 575px) {
  .about__img-container {
    min-width: 272px;
    height: 272px;

    margin: 32px 0 24px 0;
  }
}
