.header_main {
  height: 576px;
  background-image: url(../../../images/header_background.png);
  background-size: cover;
  background-position: center center;
}

@media screen and (max-width: 768px) {
  .header_main {
    height: 400px;
    background-image: url(../../../images/header_background_medium.png);
  }
}

@media screen and (max-width: 475px) {
  .header_main {
    height: 536px;
    background-image: url(../../../images/header_background_small.png);
  }
}
