<<<<<<< HEAD
@media (max-width: 767px) {
  .header__container {
    display: flex;
    flex-direction: column;
    width: 320px;
    background: #1a1b22;
    border-radius: 0 0 16px 16px;
  }
}

@media (min-width: 768px) {
  .header__container {
    display: flex;
    justify-content: flex-end;
  }
}

@media (min-width: 1024px) {
  .header__container {
    display: flex;

  }
=======
@media (max-width: 767px) {
  .header__container {
    display: flex;
    flex-direction: column;
    width: 320px;
    background: #1a1b22;
    border-radius: 0 0 16px 16px;
  }
}

@media (min-width: 768px) {
  .header__container {
    display: flex;
    justify-content: flex-end;
  }
}

@media (min-width: 1024px) {
  .header__container {
    display: flex;
<<<<<<< HEAD
    justify-content: flex-end;
=======
    justify-content: center;
>>>>>>> origin/level-2
  }
>>>>>>> 5fdf3f9f48979695bf4947c9b706cc6cad16fd35
}