@media screen and (max-width: 1279px) and (min-width: 1024px) {
    .about {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }

    .about__image {
        width: 350px;
        margin: 50px 50px 61px 0;
    }

    .about__text {
        width: 500px;
        margin: 40px 0 0 0;
    }

    .about__author {
        margin-top: 40px;
        font-size: 40px;
        line-height: 46px;
    }

    .about__title-one {
        margin-top: 16px;
        font-size: 18px;
        line-height: 24px;
    }
}