@media (max-width: 767px) {
  .header__saved-articles-black {
    margin-left: 16px;
    font-family: Roboto, arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 56px;
    text-decoration: none;
    cursor: url(../../../images/lapka.png), pointer;
    /* display: none; */

    color: #fff;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .header__saved-articles-black {
    margin-top: 22px;
    margin-left: 16px;
    height: 41px;

    font-family: Roboto, arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    border-bottom: 3px solid #1a1b22;
    cursor: url(../../../images/lapka.png), pointer;
    /* display: none; */

    color: #1a1b22;
  }
}

@media (min-width: 1024px) {
  .header__saved-articles-black {
    margin-top: 30px;
    margin-right: 2em;

    font-family: Roboto, arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    border-bottom: 3px solid #1a1b22;
    cursor: url(../../../images/lapka.png), pointer;

    color: #1a1b22;
  }
}