@media (max-width: 767px) {
  .saved-articles__author_afisha {
    margin-top: 8px;
    margin-bottom: 16px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .saved-articles__author_afisha {
    margin-top: 40px;
    margin-bottom: 16px;
  }
}

@media (min-width: 1024px) {
  .saved-articles__author_afisha {
    margin-top: 40px;
    margin-bottom: 24px;
  }
}