@media (max-width: 767px) {
  .header__title {
    width: 285px;
    height: 80px;
    margin-top: 30px;
    margin-left: 19px;
    margin-bottom: 0;

    font-family: Roboto Slab, arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;

    color: #fff;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .header__title {
    width: 9em;
    height: 80px;
    margin-top: 36px;
    margin-left: 4.5em;
    margin-bottom: 0;

    font-family: Roboto Slab, arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;

    color: #fff;
  }
}

@media (min-width: 1024px) {
  .header__title {
    width: 9em;
    height: 128px;
    margin-top: 80px;
    margin-left: 7em;
    margin-bottom: 0;

    font-family: Roboto Slab, arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 64px;

    color: #fff;
  }
}