@media screen and (max-width: 1023px) and (min-width: 768px) {
    .search__body {
        padding: 36px 21.2%;
    }

    .topic__news {
        width: 59%;
    }

    .search__paragraph {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 46px;
        width: 452px;
    }

    .search__title {
        font-size: 36px;
        line-height: 40px;
        width: 385px;
    }

    .search_image {
       background-position: center;
  
    }

    .topic__news {
        margin: 17px 0 17px 24px;
    }

    .search__topic {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
}