@media screen and (max-width: 1023px) and (min-width: 768px) {
    .search {
      width: 100%;
    }
  
    .news {
      margin: 22.73px 0 18.47px 40px;
      font-size: 20px;
    }
  
    .menu {
      display: flex;
      width: 100%;
      justify-content: flex-end;
    }
  
    .menu__save {
      margin-left: 17.18%;
      margin-right: 0px;
    }
  
    .menu__main {
      margin: 25px 16px 0;
    }
  
    .saved {
      margin: 25px 16px 20px 0;
    }
  
    .main-header {
      font-size: 16px;
      line-height: 24px;
    }
  
    .link {
      margin-top: 17px;
    }
  
    .menu__signin {
      margin: 14px 20px 12px 0;
    }

    .menu__authorization {
      margin: 0 10% 0 65%;
    }

    .menu__save_blackTeame {
      margin-left: 15%;
    }
}