.card__data {
    margin: 20px 248px 12px 24px;
    width: 128px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #B6BCBF;
}