@media screen and (max-width: 1279px) and (min-width: 1024px) {
    .menu {
        display: flex;
        width: 100%;
        justify-content: flex-end;
    }

    .menu__save {
        margin: 0 7.2% 0 33%;
    }

    .news {
        margin-left: 7.2%;
    }

    .menu__authorization {
        margin: 0 10% 0 65%;
    }
}