.preloader {
  display: block;

  width: 74px;
  height: 74px;

  margin: 0 auto;

  border: 1px solid #444;
  border-bottom-color: #888;
  border-radius: 50%;

  animation: spin .75s infinite linear;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
