.not-found__header {
  margin: 0px auto 16px;
  width: 356px;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  text-align: center;
  color: #1A1B22;
}