.button-cards {
    display: flex;
    margin: 64px auto 0;
    padding: 18px 84px 22px;
    width: 288px;
    background: #FFFFFF;
    border-radius: 80px;
    border: none;
    justify-content: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    color: #1A1B22;
}