.header-search__input-error {
  position: absolute;

  top: 14px;
  right: 180px;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #f00;

  pointer-events: none;
  z-index: 99;
}

@media screen and (max-width: 768px) {
  .header-search__input-error {
    top: 10px;
    right: 170px;
  }
}

@media screen and (max-width: 475px) {
  .header-search__input-error {
    top: 10px;
    right: 24px;
  }
}
