@media (max-width: 767px) {
  .results__author_lenta {
    margin-top: 8px;
    margin-bottom: 16px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .results__author_lenta {
    margin-top: 82px;
    margin-bottom: 16px;
  }
}

@media (min-width: 1024px) {
  .results__author_lenta {
    margin-top: 75px;
    margin-bottom: 24px;
  }
}