@media (max-width: 767px) {
  .popup__text-and {
    width: 226px;
    height: 20px;
    margin-top: 16px;
    margin-left: 47px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;

    color: #000;
  }
}

@media (min-width: 768px) {
  .popup__text-and {
    width: 226px;
    height: 20px;
    margin: 16px 102px 28px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;

    color: #000;
  }
}