@media screen and (max-width: 1439px) and (min-width: 1024px) {
    .group {
        padding: 80px 6.8% 80px 7.2%;
        justify-content: space-between;
    }

    .card {
        width: 32%;
        height: 610px;
    }

    .card__image {
        width: 100%;
    }

    .card__header, .card__paragraph {
       margin: 0 auto 16px;
       width: 88%;
    }

    .card__source {
        bottom: 10px;
    }

    .massageSave {
        margin: 16px 5px 208px 49px;
    }

    .massageAnswer {
        margin: 24px 50% 208px 24px;
    }

    .buttomSave, .buttomDelete {
        margin: 16px 16px 208px 0;
    }

    .buttomDelete {
        margin: 24px 16px 208px 0;
    }

    .card__header {
        flex-wrap: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .card__paragraph {
        height: 110px;
        flex-wrap: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}