@media (max-width: 767px) {
  .results__title {
    width: 288px;
    margin-left: 16px;
    padding-top: 32px;
    margin-top: 0;

    font-family: Roboto Slab, arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 34px;

    color: #1a1b22;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .results__title {
    width: 336px;
    margin-left: 40px;
    padding-top: 40px;
    margin-top: 0;

    font-family: Roboto Slab, arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 34px;

    color: #1a1b22;
  }
}

@media (min-width: 1024px) {
  .results__title {
    width: 15em;
    margin-left: 104px;
    padding-top: 80px;
    margin-top: 0;

    font-family: Roboto Slab, arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;

    color: #1a1b22;
  }
}