@media (max-width: 767px) {
  .popup__url-signin-success {
    margin-left: 17px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    cursor: pointer;

    color: #2f71e5;
  }
}

@media (min-width: 768px) {
  .popup__url-signin-success {
    margin-left: 36px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    cursor: pointer;

    color: #2f71e5;
  }
}