@import url('./__author/footer__author.css');
@import url('./__main/footer__main.css');
@import url('./__ya-praktikum/footer__ya-praktikum.css');
@import url('./__github-url/footer__github-url.css');
@import url('./__fb-url/footer__fb-url.css');

@media (max-width: 767px) {
  .footer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .footer {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 1024px) {
  .footer {
    display: flex;
    justify-content: space-between;
  }
}