@import url(./__copy/footer__copy.css);
@import url(./__nav/footer__nav.css);
@import url(./__nav-list/footer__nav-list.css);
@import url(./__nav-item/footer__nav-item.css);
@import url(./__nav-item-link/footer__nav-item-link.css);
@import url(./__social/footer__social.css);
@import url(./__social-item/footer__social-item.css);
@import url(./__social-item-link/footer__social-item-link.css);
@import url(./__social-icon/footer__social-icon.css);

.footer {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 80px;
  background: #fff;
}

@media screen and (max-width: 900px) {
  .footer {
    height: 64px;
  }
}

@media screen and (max-width: 675px) {
  .footer {
    align-items: flex-start;
    height: 176px;
  }
}

@media screen and (max-width: 475px) {
  .footer {
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
