@import url('./__image/list__image.css');
@import url('./__menu/list__menu.css');
@import url('./__close/menu__close.css');

.search__header-signin {
  display: none;
}

.list li:hover li{
  display: block;
}

.list__menu {
  position: absolute;
  margin: 0;
  left: 0;
  top: 0;
  width: 100%;
  display: none;
}

ul, li {
  list-style-type: none;
}

.list__image:hover .list__menu {
  display: block;
}

.list__imageBlack:hover .list__menu {
  display: block;
}

.menu__flex {
  display: flex;
  flex-direction: row;
  background: rgba(196, 196, 196, 0.01);
  box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
}

.news_whiteColor {
  color: #fff;
}

.li__margin {
  margin: 30px auto 0 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 56px;
  color: #FFFFFF;
  text-decoration: none;
}

.menu__authorization_black-margin {
  display: flex;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 100px;
  background-color: transparent;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 56px;
  color: #FFFFFF;
  margin: 0 auto 24px auto;
  width: 288px;
  padding-left: 106px;
}

.list__image {
  margin: 16px 20px 18px 132px;
}

.menu__close_list {
  margin: 16px 20px 18px 132px;
  padding: 10px;
}

.menu__margin {
  margin-top: 16px;
}

.list__imageBlack {
  margin: 0 20px 0 132px;
}