.card__header {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    color: #1A1B22;
    width: 352px;
    margin: 0 24px 16px;
    overflow: hidden;
    text-overflow: ellipsis;
}