@media screen and (max-width: 767px) and (min-width: 540px) {
    .search__body {
        padding: 80px 21.26% 40px;
    }

    .topic__news {
        width: 59%;
    }
    
    .search__paragraph {
        font-size: 15px;
        line-height: 17px;
        margin-top: 16px;
        margin-bottom: 23px;
    }

    .search__title {
        font-size: 36px;
        line-height: 40px;
        width: 100%;
    }

    .search_image {
       background-position: center;
    }

    .topic__news {
        margin: 0;
        width: 94%;
        border-radius: 100px;
        border-radius: 100px;
        padding: 17px 0px 10px;
        margin-bottom: 10px;
    }

    .search__topic {
        flex-direction: column;
        border-radius: 0;
        background: transparent;
    }

    .topic__botton {
        width: 100%;
        padding: 17px 10px;
        margin: 0;
    }
}