@media screen and (max-width: 767px) and (min-width: 540px) {
  .search {
    width: 100%;
  }

  .news {
    margin: 21px 0 16px 5%;
    font-size: 16px;
    line-height: 24px;
  }

  .menu {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }

  .menu__save {
    margin-left: 0;
    margin-right: 20px;
  }

  .menu__main {
    margin: 23px 16px 0;
    
  }

  .saved {
    width: 150px;
    margin: 23px 16px 20px 0;
    font-size: 15px;
    line-height: 17px;
  }

  .main-header {
    font-size: 15px;
    line-height: 17px;
  }

  .link {
    margin-top: 17px;
  }

  .menu__signin {
    margin: 10px 0px 10px 0;
    font-size: 15px;
    line-height: 17px;
    width: 130px;
  }

  .menu__authorization {
    margin: 0 10% 0 65%;
  }

  .news_blackTeame {
    width: 120px;
  }
}