@import url('../blocks/header/header.css');
@import url('../blocks/header/__info/header__info.css');

@import url('../blocks/footer/footer.css');
@import url('../blocks/results/results.css');
@import url('../blocks/result-card/result-card.css');

@import url('../blocks/popup/popup.css');
@import url('../vendor/fonts.css');
@import url('../vendor/normalize.css');
@import url('../blocks/page/page.css');
@import url('../blocks/favorites/favorites.css');

@media (max-width: 767px) {
  body {
    width: 320px;
    margin: 0 auto;
    background: #fff;
    font-family: "Roboto", sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  body {
    width: 100%;
    margin: 0 auto;
    background: #fff;
    font-family: "Roboto", sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
  }
}

@media (min-width: 1024px) {
  body {
    width: 100%;
    margin: 0 auto;
    background: #fff;
    font-family: "Roboto", sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
  }
}

 /* *{
  border: 1px solid red;
  box-sizing: border-box;
} */