.search-results__loader-text {
  display: block;

  margin: 24px auto 0 auto;
  padding: 0;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #b6bcbf;
}
