.footer__nav-item {
  margin: 0;
  padding: 0;
}

.footer__nav-item:nth-child(2) {
  margin-left: 40px;
}

@media screen and (max-width: 900px) {
  .footer__nav-item:nth-child(2) {
    margin-left: 24px;
  }
}

@media screen and (max-width: 675px) {
  .footer__nav-item:nth-child(2) {
    margin: 24px 0 0 0;
  }
}
