.about__info {
  margin: 130px 0 0 0;
  max-width: 600px;
}

@media screen and (max-width: 900px) {
  .about__info {
    margin: 40px 0 0 0;
    max-width: 424px;
  }
}

@media screen and (max-width: 575px) {
  .about__info {
    margin: 0 0 80px 0;
    max-width: 100%;
  }
}
