@media (max-width: 767px) {
  .saved-articles__card_mediazone {
    background-image: url(../../../../../src/images/saved-articles-3-320-768.png);
    background-repeat: no-repeat;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .saved-articles__card_mediazone {
    background-image: url(../../../../../src/images/saved-articles-3-768-1024.png);
    background-repeat: no-repeat;
  }
}

@media (min-width: 1024px) {
  .saved-articles__card_mediazone {
    background-image: url(../../../../../src/images/saved-articles-3.png);
    background-repeat: no-repeat;
  }
}