.button_signup {
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  background: #fff;
  border: 0;
  margin-top: 14px;
  color: #2F71E5;
  padding: 0;
}