@media (max-width: 767px) {
  .header__menu {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .header__menu {
    display: flex;
  }
}

@media (min-width: 1024px) {
  .header__menu {
    display: flex;
  }
}