@media screen and (max-width: 374px) and (min-width: 320px) {
    .menu__close_list {
        margin: 16px 20px 18px 132px;
        padding: 10px;
    }

    .search__header-signin {
        display: flex;
        justify-content: flex-end;
    }

    .list__imageBlack {
        margin: 0 0 0 132px;
    }
}