@media screen and (max-width: 1279px) and (min-width: 1024px) {
    .footer {
        display: flex;
        justify-content: space-between;
    }

    .footer__column {
        margin-left: 0;
    }
}