.result-card__button {
  width: 40px;
  height: 40px;
  background: #FFFFFF;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  margin: 24px 24px 0px 5px;
  display: flex;
}

@media (max-width: 1024px) {
  .result-card__button {
    margin: 16px 16px 0px 5px;
  }
}

@media (max-width: 768px) {
  .result-card__button {
    margin: 8px 8px 0px 5px;
  }
}