@media (max-width: 767px) {
  .header__navigation-black {
    display: flex;

    background: #fff;
    box-shadow: inset 0px -1px 0px #d1d2d6;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .header__navigation-black {
    display: flex;

    background: #fff;
    box-shadow: inset 0px -1px 0px #d1d2d6;
    justify-content: space-between;
  }
}

  @media (min-width: 1024px) {
  .header__navigation-black {
    display: flex;

    background: #fff;
    box-shadow: inset 0px -1px 0px #d1d2d6;
    justify-content: space-between;
  }
}