.saved {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #B6BCBF;
    margin: 30px 32px 26px 0;
    width: 178px;
}

.saved_blackTeame {
    color: #1A1B22;
    font-weight: 600;
    margin: 0;
    margin-top: 25px;
    width: 178px;
}

.saved_black {
    color: #1A1B22;
    margin: 0px;
    text-decoration: none;
}