@media (max-width: 767px) {
  .results__alert-hover {
    display: none;
    position: absolute;
    width: 14px;
    height: 19px;
    top: 11px;
    left: 13px;
    background-image: url(../../../images/bookmark-black.png);
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .results__alert-hover {
    display: none;
    position: absolute;
    width: 14px;
    height: 19px;
    top: 11px;
    left: 13px;
    background-image: url(../../../images/bookmark-black.png);
  }
}

@media (min-width: 1024px) {
  .results__alert-hover {
    /*display: none;*/
    position: absolute;
    width: 14px;
    height: 19px;
    top: 11px;
    left: 13px;
    background-image: url(../../../images/bookmark-black.png);
  }
}