@media (max-width: 767px) {
  .preloader__text {
    font-family: Roboto, arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    text-align: center;

    color: #B6BCBF;
  }
}

@media (min-width: 768px) {
  .preloader__text {
    font-family: Roboto, arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    text-align: center;

    margin-top: 24px;



    color: #B6BCBF;
  }
}
