@import url('./_whiteTeame/main-header_whiteTeame.css');
@import url('./_blackTeame/main-header_blackTeame.css');

.main-header {
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    width: 69px;
}

.main-header :visited {
    color: #fff;
}