@media screen and (max-width: 374px) and (min-width: 320px) {

    .about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 32px 24px 24px;
    }

    .about__image {
        width: 272px;
        margin: 0 auto;
    }

    .about__text {
        width: 100%;
        margin: 0;
    }

    .about__author {
        margin-top: 40px;
        font-size: 30px;
        line-height: 40px;
        width: 288px;
    }

    .about__title-one, .about__title-two  {
        margin-top: 16px;
        width: 288px;
    }

    .about__paragraph {
        width: 100%;
    }
}