@import url('./__navigation/header__navigation.css');
@import url('./__info/header__info.css');
@import url('./__container/header__container.css');
@import url('./__auth/header__auth.css');
@import url('./__saved-articles/header__saved-articles.css');
@import url('./__logo/header__logo.css');
@import url('./__main/header__main.css');
@import url('./__menu-mobile/header__menu-mobile.css');
@import url('./__title/header__title.css');
@import url('./__description/header__description.css');
@import url('./__search/header__search.css');
@import url('./__button/header__button.css');
@import url('./__keywords/header__keywords-saved-articles.css');
@import url('./__text/header__text-saved-articles.css');
@import url('./__container-search/header__container-search.css');
@import url('./__navigation-black/header__navigation-black.css');
@import url('./__auth-black/header__auth-black.css');
@import url('./__auth-logged-in/header__auth-logged-in.css');
@import url('./__auth-icon/header__auth-icon.css');
@import url('./__auth-black-icon/header__auth-black-icon.css');
@import url('./__logo-black/header__logo-black.css');
@import url('./__main-black/header__main-black.css');
@import url('./__saved-articles-black/header__saved-articles-black.css');
@import url('./__title-saved-articles/header__title-saved-articles.css');
@import url('./__popup-mobile/header__popup-mobile.css');
@import url('./__menu-mobile-upper/header__menu-mobile-upper.css');
@import url('./__popup-mobile-close/header__popup-mobile-close.css');
@import url('./_is-opened/header_is-opened.css');
@import url('./__background/header__background.css');
@import url('./__auth-logged-in-black/header__auth-logged-in-black.css');
@import url('./__menu/header__menu.css');

@media (max-width: 767px) {
  .header {
    background: #fff;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .header {
    background: #fff;
  }
}

@media (min-width: 1024px) {
  .header {
    background: #fff;
  }
}