@import url('./__img/not-found__img.css');
@import url('./__title/not-found__title.css');
@import url('./__text/not-found__text.css');
@import url('./__title/_is-opened/not-found__title_is-opened.css');
@import url('./_is-opened/not-found_is-opened.css');

@media (max-width: 767px) {
  .not-found {
    display: none;
    background: #f5f6f7;
  }

  .not-found-container {
    margin: 80px auto 80px;
  }
}

@media (min-width: 768px) {
  .not-found {
    display: none;
    background: #f5f6f7;
  }

  .not-found-container {
    margin: 80px auto 80px;
  }
}