@import url(./__close/popup__close.css);
@import url(./__container/popup__container.css);
@import url(./__content/popup__content.css);
@import url(./__title/popup__title.css);
@import url(./__form/popup__form.css);
@import url(./__form-fields/popup__form-fields.css);
@import url(./__form-field/popup__form-field.css);
@import url(./__form-input-title/popup__form-input-title.css);
@import url(./__form-input/popup__form-input.css);
@import url(./__form-error/popup__form-error.css);
@import url(./__form-button/popup__form-button.css);
@import url(./__footer/popup__footer.css);
@import url(./__link/popup__link.css);

.popup {
  position: fixed;
  display: none;

  z-index: 9999;
}
